<?xml version="1.0" ?>
<launch>
    <arg name="x_pose" default="0"/>
    <arg name="y_pose" default="0"/>
    <arg name="yaw" default="0"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x $(arg x_pose) -y $(arg y_pose) -Y $(arg yaw) -model robotont"  output="screen"/>  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch> 

