<?xml version="1.0"?>    
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotont_gazebo)/urdf/gazebo_rim.urdf.xacro"/>
    <xacro:gazebo_rim_macro
        name="back"
        prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
        name="right"
        prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
        name="left"
        prefix="${prefix}"
    />
    <gazebo>
        <plugin name="robotont_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>${prefix}odom</odometryFrame>
            <odometryRate>30.0</odometryRate>
            <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>
    <!-- Give materials to links -->
    <gazebo reference="${prefix}base_link">
        <material>Gazebo/GreyTransparent </material>
    </gazebo>
</robot>
